*.o
*.obj
*.exp
*.ilk
*.lib
*.pdb
*.manifest
*.dylib
*.so
*.dll
*~
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.out
*.pdf
*.tex
*.dat
Makefile
configure
config.h
config.status
config.h.in
.pl-history
autom4te.cache
space.html
space.pdf
src/TAGS
